<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniela Grácio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">MSc Daniela Grácio</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link " aria-current="page" href="/">Home</a>
                    <a class="nav-link active" href="/papers">Papers</a>
                    <a class="nav-link" href="/skills">Skills</a>
                    <a class="nav-link" href="/about">About</a>

            </div>
        </header>
        <main class="px-3">
            <h1>Papers</h1>
            <p class="lead">List of Papers with my collaboration. </p> <br>

            <p> <a class="papers" href="https://pubmed.ncbi.nlm.nih.gov/28052094/">Association between Polymorphisms in
                    Antioxidant Genes and Inflammatory Bowel Disease (DOI 10.1371/journal.pone.0169102)</a></p>

            <p> <a class="papers" href="https://pubmed.ncbi.nlm.nih.gov/27095753/">DNA Damage and Oxidative DNA Damage
                    in Inflammatory Bowel Disease (doi: 10.1093/ecco-jcc/jjw088)</a></p>

            <p> <a class="papers" href="https://pubmed.ncbi.nlm.nih.gov/25702170/">Increased viability but decreased
                    culturability of
                    Mycobacterium avium subsp. paratuberculosis in macrophages from inflammatory bowel disease patients
                    under Infliximab treatment (doi: 10.1007/s00430-015-0393-2)</a></p>

            <p> <a class="papers" href="https://pubmed.ncbi.nlm.nih.gov/25994082/">Prevalence of Mycobacterium avium
                    subsp. paratuberculosis
                    and Escherichia coli in blood samples from patients with inflammatory bowel disease (doi:
                    10.1007/s00430-015-0420-3).</a></p>

            <p> <a class="papers" href="https://pubmed.ncbi.nlm.nih.gov/26193347/">Oxidative Stress and DNA Damage:
                    Implications in Inflammatory Bowel Disease (DOI: 10.1097/MIB.0000000000000506)</a></p>

            <p> <a class="papers" href="https://pubmed.ncbi.nlm.nih.gov/26294670/">Short- and long-term regulation of
                    intestinal Na+/H+ exchange by Toll-like receptors TLR4 and TLR5 (doi: 309(8):G703-15)</a></p>

            <p> <a class="papers" href="https://pubmed.ncbi.nlm.nih.gov/24816497/">Infliximab therapy increases the
                    frequency of circulating CD16(+) monocytes and modifies macrophage cytokine response to bacterial
                    infection (doi: 10.1111/cei.12375)</a></p>



        </main>
        <footer class="mt-auto text-white-50">
            <p>&copy; Helder Ferreira 2021 </p>
        </footer>



    </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>


</html>